@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.tooltip-wrapper {
	display: inline-block;
	.content-wrapper {
		display: inline-block;
	}
	.tooltip-main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: fixed;
		width: 160px;
		padding: 10px;
		border-radius: .5em;
		background: $color-primary;
		transition: .25s transform ease-out;
		@include transform(scale(0));
		@include boxShadow();
		pointer-events: none;

		.text-wrapper {
			padding: 10px;
			border: 1px solid $color-font-light;
			border-radius: .5em;
		}

		.tooltip-text {
			line-height: 16px;
			font-size: .8em;
			color: $color-font-light;
			text-align: center;
		}

		&.visible {
			z-index: 4;
			@include transform(scale(1));
		}

	}

	.icon-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		top: 3px;
		left: -40px;
		width: 27px;
		height: 27px;
		z-index: 5;
		border-radius: 5em;
		background: $color-font-light;
		transition: .25s transform ease-out;
		color: $color-primary;

		.info-icon {
			font-size: 2.2em;
		}
	}

	@media(min-width: $sm-breakpoint) {

		.tooltip-main {
			.tooltip-wrapper {
				padding: 10px;
			}
		}
	}
}