@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.panel-wrapper {
	@include gradientBgLight();
	border: 1px solid $color-bg-medium-1;
	border-top: 1px solid $color-bg-medium-1;

	header {
		background: $color-primary;
		border-top: 1px solid $color-bg-medium-1;
		border-bottom: 3px solid $color-bg-medium-1;
		padding: 10px;
		height: 40px;

		h4 {
			margin: 0;
			padding: 0;
			font-size: 1.2em;
			color: $color-font-light;
		}
	}

	.panel-content {
		padding: 10px;
	}

	.dismiss-panel {
		position: relative;
    left: calc(100% - 26px);
		top: -22px;
		button {
			width: 40px;
		}
		i {
			font-size: 1.5em;
			color: $color-font-light;
			@include scaleOnHover();
			@include defaultHover();
		}
	}
}