@import '../../styles/variables';
@import '../../styles/mixins';

body {
	background: $color-bg-light;
}

.main-layout {
	height: 100%;
	background: $color-bg-light;
	.nav-controller {
		margin-top: 50px;
		background: $color-bg-light;
		@media(min-width: $sm-breakpoint) {
			margin-top: 60px;
		}
	}
}