@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.service-list {
	&.none-available {
		margin: 10px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;

		p {
			padding: 10px;
			border: 1px solid $color-secondary;
			text-align: center;
		}
	}
}

.service-list-entry {
	border: 1px solid $color-secondary;
	margin: 10px 0;
	@include gradientBgLight();

	&:first-child {
		margin-top: 0;
	}

	.name {
		border-bottom: 2px solid $color-secondary;
		@include gradientMainTheme();
		h5 {
			font-size: 1.3em;
			text-align: center;
			margin: 25px 0;
			color: $color-secondary;
			margin: 10px 0;
		}


		&:hover {
			h5 {
				color: $color-primary-light;
			}
		}
	}

	.thumbnail-sm {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: 10px;
		background: $color-bg-dark;
		border-left: 2px solid $color-secondary;

		.img-wrapper {
			height: calc(70% - 10px);
			display: flex;
			justify-content: center;
			flex-direction: column;
		}

		img {
			width: 140px;
			max-height: 100%;
			margin: 0 auto;
			border: 1px solid $color-secondary;
			border-radius: .25em;
		}

	}

	.entry-body {
		height: 225px;
	}

	.controls-wrapper {
		height: 100%;
	}

	.description-wrapper {
		height: 100%;
	}

	&:last-child {
		margin-bottom: 0;
	}

	@media(min-width: $sm-breakpoint) {
		margin: 15px 0;

		.name {
			border: 1px solid $color-secondary;
			border-bottom: 2px solid $color-secondary;
		}

		h5 {
			margin: 10px 0;
			font-size: 1.5em;
		}

		.thumbnail-sm {
			margin: 0;
			border-bottom: 1px solid $color-secondary;
		}
	}

	@media(min-width: $md-breakpoint) {
		margin: 20px 0;
		
		.entry-body {
			min-height: 320px;
		}
		.name {
			font-size: .9em;
			h5 {
				margin: 5px 0 0;
			}
		}
		.thumbnail-sm {
			justify-content: space-between;
		}
	}
}

.service-description {
	height: 100%;

	.description {
		height: 100%;
		padding: 10px;
		border: 1px solid $color-secondary;
		border-top: 2px solid $color-secondary;
		overflow: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}

	@media(min-width: $sm-breakpoint) {
		.description {
			border: 1px solid $color-secondary;
		}
	}

	@media(min-width: $md-breakpoint) {
		.description {
			margin: 0;
		}
	}
}

.service-controls {
	height: 100%;
	.edit-service, .remove-service {
		display: flex;
		height: 50%;
		flex-direction: column;
		justify-content: center;

		i {
			font-size: 2em;
		}

		button {
			width: 100%;
			height: 100%;
			padding: 5px;
			background: $color-primary;
			border-radius: 0em;
			&:hover {
				background: $color-secondary;
				i {
					color: $color-primary-light;
				}
			}
		}
	}

	.edit-service {
		button {
			border-bottom: 1px solid $color-secondary;
		}
	}

	@media(min-width: $sm-breakpoint) {
		.remove-service {
			button {
				border-bottom: 1px solid $color-secondary;
			}
		}

		.remove-service, .edit-service {
			button {
				border-left: 1px solid $color-secondary;
			}
		}
	}

	@media(min-width: $md-breakpoint) {
		.edit-service {
			button {
				margin-bottom: 10px;
			}
		}
		.remove-service, .edit-service {
			button {
				border-radius: .25em;
				border: none;
			}
		}
	}
}