@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/editor.scss';

.service-editor {
	.desc-img-toggle, .desc-img-label, .desc-img-url {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 10px 0;
		min-height: 50px;
	}

	.range-slider {
		margin-top: -10px;
	}

	.desc-img-url {
		font-size: .9em;
		p {
			text-align: right;
			word-break: break-word;
		}
	}

	.desc-img-preview {
		padding: 10px;
		border: 2px solid $color-secondary;
		background: $color-bg-dark;
		
		img {
			display: block;
			max-width: 100%;
			margin: 0 auto;
		}
	}

	.desc-img-toggle {
		text-align: right;
	}

	.save-service {
		padding-top: 5px;
	}

	@media(min-width: $sm-breakpoint) {
		.desc-img-url {
			p {
				font-size: 1em;
				text-align: center;
			}
		}

		.save-service {
			padding: 0;
		}
	}

	@media(min-width: $md-breakpoint) {
		.save-service {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			padding: 0;
			margin-bottom: 20px;
		}

		.range-slider {
			.slider-value {
				.number-input {
					width: auto;
				}
			}
		}
	}
}