@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.service-overview {
	background: $color-bg-light;

	.card-container {

		.card-wrapper {
			.service-card {
				padding: 10px;
			}
		}
	}

	@media(min-width: $xs-breakpoint) {
		.card-container {
			.card-wrapper {
				margin: 5px 0;

				&:first-child {
					margin-top: 10px;
				}

				&:last-child {
					margin-bottom: 10px;
				}
			}
		}
	}

	@media(min-width: $sm-breakpoint) {
		.card-container {
			.card-wrapper {
				margin: 0;
				
				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}

				&:nth-child(odd) {
					border-left: none;
					border-top: none;
				}
				&:nth-child(even) {
					border-right: none;
					border-top: none;
				}
			}
		}
	}

	@media(min-width: $md-breakpoint) {
		.card-container {
			.card-wrapper {
				padding: 10px;

				&:nth-child(odd), &:nth-child(even) {
					border: none;
				}

				&:last-child {
					padding-bottom: 10px;
				}
			}
		}
	}

}