@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.service-card {
	max-width: 480px;
	height: 300px;
	margin: 0 auto;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.28);
	background: $color-bg-medium-2;

	.card-content {
		position: relative;
		height: 100%;
		background-position: 50%;
		background-size: cover;
		
		header {
			padding: 15px 10px;
			border-bottom-right-radius: .25em;
			@include bgThemeAlpha(.8);
		}

		.service-name {
			display: block;
			margin: 0 auto;
			color: $color-secondary;
			text-align: center;
		}

		.link-flag {
			display: flex;
			flex-direction: row;
			justify-content: center;
			position: absolute;
			top: calc(100% - 50px);
			right: 0;
			height: 50px;
			width: 140px;
			@include bgMedium2Alpha(.9);

			.link-text {
				width: 120px;
			}

			.icon {
				width: 20px;
				padding-left: 10px;
			}
			
			.link-text, .icon {
				align-self: center;
				text-align: center;
			}

			i, .link-text {
				color: $color-primary;
			}

			i {
				font-size: 1.3em;
			}
			.card-content 
			section {
				text-align: center;
			}

			&:before {
				display: block;
				position: absolute;
				width: 0;
				height: 0;
				left: -20px;
				top: 0;
				content: "";
				border-style: solid;
				@include borderMedium2Alpha(.9);
				border-left-color: transparent;
				border-top-color: transparent;
				border-bottom-color: transparent;
				border-width: 25px 20px 25px 0;
				
			}
		}
	}

	&:hover {
		cursor: pointer;
		.card-content {
			.service-name {
				color: $color-primary-light;
			}

			.link-flag {
				@include bgSecondaryAlpha(.9);
				i, .link-text {
					color: $color-font-light;
				}

				&:before {
					@include borderSecondaryAlpha(.9);
					border-left-color: transparent;
					border-top-color: transparent;
					border-bottom-color: transparent;
				}
			}
		}
	}

	@media(min-width: $xs-breakpoint) {
		width: 320px;
	}

	@media(min-width: $sm-breakpoint) {
		width: 100%;
	}

	@media(min-width: $md-breakpoint) {
	}
}