@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.info-box {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	background: $color-bg-medium-2;
	border-left: none;
	border-right: none;
	
	.info-list {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 300px;
		margin: 0 auto;
		padding: 10px;
		border: 1px solid $color-secondary;
		background: $color-bg-light;
		list-style: none;
		font-size: .9em;
	}

	.info-line {
		margin: 10px 0;

		p {
			text-align: center;
		}

		i {
			margin-right: 10px;
			color: $color-primary;
			font-size: 1.4em;
		}
	}

	@media(min-width: $sm-breakpoint) {
		.info-list {
			width: 320px;
			font-size: 1.1em;
		}
	}

	@media(min-width: $md-breakpoint) {
		.info-list {
			width: 360px;
			padding: 20px;
		}
	}
}