@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.simple-dialogue {
	position: absolute;
	display: inline-block;
	pointer-events: none;
		
	&.visible {
		pointer-events: all;
		.dialogue-content {
			opacity: 1;
		}
		.transparent-overlay {
			opacity: 1;
		}
	}

	.dialogue-content {
		position: fixed;
		left: calc(50vw - 150px);
		width: 300px;
		top: 33vh;
		z-index: 15;
		border: 1px solid $color-secondary;
		opacity: 0;
		@include boxShadowLg();
	}

	.transparent-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, 0.46);
		z-index: 12;
		cursor: pointer;
		opacity: 0;
		transition: .75s opacity ease-in-out;
	}

	.title {
		padding: 10px;
		@include gradientPrimary();
		border-bottom: 1px solid $color-secondary;
		
		h5 {
			color: $color-font-light;
			font-size: 1.3em;
			margin: 0;
		}
	}

	.message {
		min-height: 40px;
		padding: 10px;
		border-bottom: 1px solid $color-secondary;
		background: $color-bg-medium-2;
		p {
			padding: 20px 10px;
			background: $color-bg-light;
			font-size: 1.2em;
			border-radius: .25em;
			border: 1px solid $color-secondary;
		}
	}

	.controls {
		border-top: 1px solid $color-secondary;
		border-bottom: 1px solid $color-secondary;
		button {
			border-radius: 0;
		}
	}

	.confirm, .abort {
		text-align: center;
		padding: 10px;
		background: $color-primary;
		color: $color-font-light;
		@include defaultHover();
	}

	.confirm {
		border-right: 1px solid $color-secondary;
	}

	.abort {
		border-left: 1px solid $color-secondary;
	}

	@media(min-width: $xs-breakpoint) {
		.dialogue-content {
			width: 420px;
			left: calc(50vw - 210px);
		}
	}
}