@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.disclaimer-page {
	margin-bottom: 5px;

	.disclaimer {
		padding: 0;
		.block-container {
			&:nth-child(3), &:nth-child(5) {
				border-right: none;
			}
		}

		p {
			padding: 5px 10px;

			&:first-child {
				padding-top: 10px;
			}

			&:last-child {
				padding-bottom: 10px;
			}
		}

		@media(min-width: $md-breakpoint) {
			.block-container {
				&:nth-child(2), &:nth-child(4) {
					border-right: none;
				}
			}
		}
	}

	@media(min-width: $sm-breakpoint) {
		margin-bottom: 10px;
	}
}