@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.range-slider {
	display: inline-block;

	.area-wrapper {
		display: inline-block;
	}

	.value-wrapper {
		margin-top: -10px;
	}

	.range-area {
		position: relative;
		display: inline-block;
		padding: 20px 0;
		cursor: pointer;
		
		.slider-progress {
			position: absolute;
			height: 4px;
			top: 20px;
			background: $color-primary;
			@include transform(translateZ(0));
		}
	
		.background-area {
			width: 140px;
			height: 4px;
			background: $color-ui-bg-1;
		}
	}
	
	.slide-circle {
		position: absolute;
		width: 15px;
		height: 15px;
		left: -7px;
		top: 14px;
		background: $color-primary;
		border-radius: 5em;
		will-change: transform;
		pointer-events: none;
		z-index: 3;
		cursor: grab;

		&:after {
			display: block;
			position: relative;
			left: -5px;
			top: -5px;
			width: 25px;
			height: 25px;
			border-radius: 5em;
			background: $color-primary;
			opacity: 0;
			will-change: opacity;
			content: "";
			pointer-events: none;
			transition: transform .33s ease-in-out, opacity .33s ease-in-out;
			@include transform(scale(0));
		}
	}

	.slider-value {

		.number-input {
			display: block;
			height: 40px;
			width: 40px;
			margin: 0 auto;
			border-radius: 5em;
			background: $color-ui-disabled;
			color: $color-bg-medium-2;
		}

		input {
			display: inline-block;
			width: 100%;
			height: 100%;
			border: none;
			border-radius: 5em;
			background: none;
			font-size: 1.6em;

			&:focus {
				background: $color-primary;
				color: $color-font-light;
				font-weight: bold;
			}
		}
	}

	&:focus {
		.slide-circle {
			&:after {
				opacity: .26;
				@include transform(scale(1));
			}
		}
		
		.slider-value {
			input {
				background: $color-primary;
				color: $color-font-light;
				font-weight: bold;
			}	
		}
	}

	&.disabled {
		.range-area {
			.background-area {
				background: $color-ui-disabled;
			}
		}

		.slide-circle {
			background: $color-ui-bg-1;
		}

		&:focus {
			.slide-circle {
				&:after {
					opacity: 0;
					@include transform(scale(0));
				}
			}
		}
	}

	@media(min-width: $sm-breakpoint) {
		.slider-value {
			.number-input {
				border-radius: .25em;
				height: 32px;
				@include inputResponsiveSm();
			}
			
			input {
				font-size: 1.5em;	
				border-radius: .25em;
			}
		}

		.range-area {
			.background-area {
				width: 180px;
			}
		}
	}

	@media(min-width: $md-breakpoint) {
		.range-area {
			.background-area {
				width: 200px;
			}
		}

		.slider-value {
			position: absolute;
			left: 240px;
			top: 5px;
		}
	}

	@media(min-width: $lg-breakpoint) {
		.range-area {
			.background-area {
				width: 220px;
			}
		}
	}
}