@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.round-button {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: $color-primary;
	border-radius: 5em;
	transition: transform .5s ease;

	i {
    position: relative;
    left: 10px;
    top: 9px;
    font-size: 1.8em;
		color: $color-bg-light;
		transition: font-size .5s ease;
	}

	&:hover {
		cursor: pointer;
		@include transform(scale(1.1));
		background: $color-secondary;
	}
}