@import '../../../styles/variables.scss';
@import '../../../styles/editor.scss';

.post-editor {
	.display-img-toggle, .display-img-label, .display-img-url {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 10px 0;
		min-height: 50px;
	}

	.display-img-url {
		font-size: .9em;
		p {
			text-align: right;
			word-break: break-word;
		}
	}

	.display-img-preview {
		padding: 10px;
		border: 2px solid $color-secondary;
		background: $color-bg-dark;
		
		img {
			display: block;
			max-width: 100%;
			margin: 0 auto;
		}
	}

	.display-img-toggle {
		text-align: right;
	}

	.save-post {
		padding-top: 5px;
	}

	.title-wrapper {
		.content-wrapper {
			display: block;
		}
	}

	@media(min-width: $sm-breakpoint) {
		.display-img-url {
			p {
				font-size: 1em;
				text-align: center;
			}
		}

		.save-post {
			padding: 0;
		}
	}

	@media(min-width: $md-breakpoint) {
		.save-post {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			padding: 0;
			margin-bottom: 20px;
		}
	}
}