@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.service-detail-page {
	.static-markup {
		h1, h2, h3, h4, h5, h6 { 
			@include bgMedium2Alpha(.6);
			color: $color-primary;
		}
	}
	
	main, .description-img {
		padding: 0;
	}

	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.description-img {
		height: 300px;
		background-size: cover;
		background-position: 50%;
		border: 1px solid $color-secondary;
		border-left: none;
		border-right: none;

		img {
			display: block;
			max-width: 100%;
			max-height: 380px;
			margin: 0 auto;
			border: 1px solid $color-secondary;
			border-left: none;
			border-right: none;
		}
	}

	.description {
		padding: 0;
	}

	.paragraphs {
		margin-bottom: 10px;
		.paragraph {
			padding: 0;

			.paragraph-img {
				height: 300px;
				margin-top: 10px;
				background-size: cover;
				background-position: 50%;
				border: 1px solid $color-secondary;
				border-left: none;
				border-right: none;
			}

			.paragraph-text {
				padding: 0;
			}
		}
	}

	@media(min-width: $sm-breakpoint) {
		.description-img {
			img {
				max-height: 480px;
			}
		}
	}

	@media(min-width: $md-breakpoint) {
		.description {
			margin: 0 auto;
			// padding: 20px;
		}

		.description-img {
			img {
				max-height: 400px;
			}
		}

		.paragraphs {
			.paragraph {
				.paragraph-img {
	
				}
	
				.paragraph-text {
					margin: 0 auto;
				}
			}
		}
	}

	@media(min-width: $lg-breakpoint) {
	}
}