@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.services-page {
	.content-switch {
		height: 100%;
		padding: 0;
		border: 1px solid $color-secondary;
		border-left: none;
		border-right: none;
	}

	.info-container {
		height: 280px;
		padding: 0;
	}

	.info-img {
		background-image: url('/images/leistungen01-lg.jpeg');
		background-size: cover;
		background-position: 50%;
		background-repeat: no-repeat;
		height: 100%;
		padding: 0;
	}

	@media(min-width: $sm-breakpoint) {
		.content-switch {
			border: none;
		}

		.info-img {
			background-image: url('/images/leistungen01-xl.jpeg');
			border-left: 1px solid $color-secondary;
		}

		.info-container {
			border-top: 1px solid $color-secondary;
			border-bottom: 1px solid $color-secondary;
			padding-bottom: 1px;
		}
	};

	@media(min-width: $md-breakpoint) {
		.info-img {
			background-image: url('/images/leistungen01.jpeg');
		}
		
		.info-container {
			height: 300px;
		};
	}
}