@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.rich-text-editor-wrapper {

	.url-input {
		position: absolute;
		@include transform(scale(0));
		width: 200px;
		left: -210px;
		padding: 10px;
    background: $color-bg-light;
		box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.21);
		transition: transform .33s ease-in-out;
		
		&.visible {
			@include transform(scale(1));
		}

		h4 {
			margin: 0;
			text-align: center;
			color: $color-primary;
		}

		input {
			width: 100%;
		}
	}

	.editor-toolbar {
		position: fixed;
		top: calc(50vh - 113px);
		right: 0;
		width: 70px;
		height: 226px;
		@include transform(translateX(230px));
		z-index: 2;
		background: $color-secondary;
		border: 1px solid $color-secondary;
		transition: transform .33s ease-in-out;

		&.visible {
			@include transform(none);
		}

		.inline-style-controls, .block-type-controls, .additional-controls {
			
			button, .label {
				color: $color-font-dark;
			}
		
			.style-button, .editor-button {
				display: block;
				width: 50%;
				float: left;
				padding: 5px 0;
				background: $color-tertiary;
				border: 1px solid $color-secondary;
				// border-radius: 0;
		
				&:hover {
					.label, i {
						color: $color-secondary;
					}
				}
		
				&.active {
					background: $color-primary;
					.label, i {
						color: $color-font-light;
					}
				}
			}
		}
	}
}

.rich-text-editor {
	min-height: 120px;
	max-height: 200px;
	padding: 10px;
	background: $color-bg-light;
	border: 1px solid $color-secondary;
	overflow: hidden;
	cursor: text;

	@include transform(translateZ(0));

	.DraftEditor-root {
		height: 100%;
	}

	&.editing {
		@include highlightPrimary();
		max-height: initial;
	}
}

.image-block {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.link-entity {
	a {
		color: $color-secondary;
		text-decoration: underline;

		&:hover {
			color: $color-tertiary;
		}

		&:visited {
			color: $color-primary;
		}
	}
}

@media(min-width: $sm-breakpoint) {
	.rich-text-editor-wrapper {

		.rich-text-editor {
			// min-height: 480px;
		}
	}
}

@media(min-width: $md-breakpoint) {
	.rich-text-editor-wrapper {
	}
}