@import '../../styles/variables.scss';

.icon-button {
	cursor: pointer;
	background: none;
}

.labeled-button {
	width: 100%;
	padding: 8px 10px;
	border-radius: .25em;
	background: $color-primary;
	font-size: 1em;

	.icon {
		padding-right: 5px;
	}

	.button-label, i {
		color: $color-font-light;
	}

	&:hover {
		background: $color-secondary;
	}
}