@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 140px;
	background: $color-bg-dark;
	color: $color-font-light;
	font-size: 1.1em;

	.footer-entry-list {
		padding: 10px;
		list-style: none;
		
		li {
			// margin: 10x 0;
			padding: 5px 0;
			text-align: center;
		}
	}

	a {
		color: $color-primary;
		&:hover {
			color: $color-secondary;
		}
	}

	@media(min-width: $sm-breakpoint) {
		.footer-entry-list {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}

		li {
			width: 200px;
			padding: 0;
			border-right: 1px solid $color-primary;
			
			&:last-child {
				border-right: none;
			}
		}
	}
}