@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.sign-in-page {
	h2 {
		font-size: 2em;
	}

	.content-container {
		height: calc(100vh - 190px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-image: url('/images/login01-lg.jpeg');
		background-size: cover;
		background-position-y: 50%;
	}

	.panel-wrapper {
		box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.41);
		@media(min-width: $xs-breakpoint) {
			position: relative;
			width: 340px;
			left: calc(50% - 170px);
		}
	}
}

.login-form {
	margin: 5px;
	color: $color-font-dark;

	.row {
		padding: 20px 0;
		margin: 10px 0;
		border-bottom: 1px solid $color-bg-medium-1;

		&:last-child {
			text-align: center;
			border: none;
		}
	}

	label {
		font-size: 1.2em;
	}

	input {
		float: right;
	}
}

@media(min-width: $sm-breakpoint) {
	.sign-in-page {
		.content-container {
			height: calc(100vh - 200px);
			background-image: url('/images/login01-xl.jpeg');
		}
	}
}

@media(min-width: $md-breakpoint) {
	.sign-in-page {
		.content-container {
			background-image: url('/images/login01.jpeg');
		}
	}
}