@import '../../../styles/variables.scss';

.admin-dashboard-page {
	.content-container {
		height: calc(100vh - 281px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


	@media(min-width: $sm-breakpoint) {
		.content-container {
			height: calc(100vh - 289px);
		}
	}
}