@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.slider {
	height: 100%;
	background: $color-bg-medium-1;

	.slides {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.slide {
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		padding: 10px;

		&.active {
			will-change: transform;
		}

		&.next {
			@include transform(translateX(100%));
		}

		&.prev {
			@include transform(translateX(-100%));
		}
	}
}

.nav-buttons {
	position: relative;
	top: 90%;
	left: -2px;
	width: calc(100% + 4px);
	height: 50px;
	margin: 2px 0;
	background: rgba(0, 0, 0, .66);
	border: 1px solid $color-primary;
	pointer-events: none;
	

	.prev-btn, .next-btn {
		@include defaultHover();
		text-align: center;
		font-size: .7em;
		pointer-events: all;
		width: 30px;
		height: 30px;
		padding: 0 13px 0 0;
		opacity: .85;

		i {
			top: 7px;
			left: 5px;
		}
	}

	.next-btn {
		i {
			left: 8px;
		}
	}

	.prev-wrapper, .next-wrapper {
		display: inline-block;
		height: 100%;
		background: $color-ui-dark-alpha;
		padding: 10px 30px;
	}

	.prev-wrapper {
	}

	.next-wrapper {
		float: right;
	}
}