@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.data-protection-page {
	.block-container {
		border-right: none;

		&:last-child {
			border-bottom: none;
		}
	}

	p {
		padding: 5px 10px;

		&:first-child {
			padding-top: 10px;
		}

		&:last-child {
			padding-bottom: 10px;
		}
	}

	.block-container {
		height: 100%;
	}

	.info-container {
		height: 100%;
	}

	@media(min-width: $sm-breakpoint) {
		.block-container {
			&:nth-last-child(2), &:nth-last-child(3) {
				border-bottom: none;
			}

			&:nth-last-child(2) {
				border-left: 1px solid $color-secondary;
			}
		}
	}
}