@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.side-menu {
	position: fixed;
	height: 100vh;
	top: 0;
	left: 0;
	box-shadow: 2px 2px 2px 1px rgba(40, 40, 40, 0.62);
	@include gradientBgLight();
	z-index: 20;
	opacity: .95;
	will-change: transform;
	overflow: hidden;

	.wrapper {
		height: 100%;
		
		header {
			margin: 0;
		}
	}

	.close-menu {
    position: absolute;
    width: 100px;
    top: 0px;
    left: -20px;
	}

	.nav-header {
		height: 140px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0;

		button {
			width: 100%;
			height: 50px;
		}

		i {
			font-size: 2em;
			color: $color-font-dark;
			@include secondaryHover();
			@include scaleOnHover();
		}

		.nav-title {
			h3 {
				margin: 0;
				padding: 10px;
				text-align: center;
				font-size: 2.5em;
				font-weight: bold;
			}
		}
	}

	.nav-content {
		height: calc(100% - 140px);
		padding: 10px 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		border-left: none;
		border-right: none;
	}

	@media(min-width: $sm-breakpoint) {
		max-height: 640px;
	}
}

.dark-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.46);
	z-index: 8;
	will-change: opacity;
	transition: opacity .5s ease-in-out;
	pointer-events: none;
	cursor: normal;
	opacity: 0;

	&.visible {
		opacity: 1;
		transition: .5s opacity .5s ease-in-out;
		cursor: pointer;
		pointer-events: auto;
	}
}

.menu-entry {
	background: none;
	cursor: pointer;
	height: 44px;
	line-height: 44px;

	a {
		display: block;
		height: 100%;
		padding: 5px 0;
		margin: 0;
	}

	.icon {
		width: 60px;
		border-right: 1px solid $color-bg-dark;
		text-align: center;
		font-size: 1.6em;
	}

	.entry {
		width: calc(100% - 70px);
		padding-left: 20px;
		transition: padding-left .5s ease, background-color .5s ease;
		font-size: 1.6em;
	}

	.entry, .icon {
		display: flex;
		flex-direction: column;
		justify-content: center;
		float: left;
		color: $color-font-dark;
		height: 100%;
		font-size: 1.4em;
	}

	&:nth-child(even) {
		background: $color-bg-medium-2;
		transition: background-color .5s ease;
	}

	&:hover {
		@media(min-width: $md-breakpoint) {
			.entry, .icon {
				color: $color-secondary;
			}
			.icon {
				border-right: 1px solid $color-secondary;
			}		
		}
	}

	&.active {
		background: $color-primary;
		transition: background-color .5s ease;

		.entry {
			color: $color-font-light;
			font-weight: bold;
			padding-left: 40px;
		}

		.icon {
			color: $color-font-light;
			border-right: 1px solid $color-font-light;
		}
	}
}