@import '../../styles/variables.scss';

.load-spinner {
	position: fixed;
	z-index: 30;
	pointer-events: none;

	svg {
		width: 100%;
		height: 100%;
	}

	path {
		fill: none;
		stroke: $color-primary;
	}
}