@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.header-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 50px;
	background: $color-main-theme;
	z-index: 7;

	.header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		height: 100%;
		padding: 0 10px;
		color: $color-secondary;

		.title-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			position: absolute;
			width: 100vw;
			height: 100%;
			left: 0;
			pointer-events: none;
		}

		.title {
			margin: 0;
			padding: 0;
			font-size: 1.5em;
			text-align: center;
			color: $color-secondary;
			@media(min-width: $md-breakpoint) {
				// font-size: 1.3em;
			}
		}
	}

	div {
		padding: 0;
	}

	.icon-button {
		padding: 0;
	}

	.menu-icon-wrapper {
		height: 40px;
	}

	.home-link {
		@include defaultHover();
	}

	.sidemenu-wrapper, .home-wrapper {
		padding-right: 10px;
		font-size: .9em;

		a {
			color: $color-secondary;
		}

		span {
			float: left;
		}
	}

	.menu-icon {
		color: $color-secondary;
		@media(min-width: $md-breakpoint) {
			&:hover {
				color: $color-primary-light;
			}
		}
	};

	@media(min-width: $sm-breakpoint) {
		height: 60px;

		.header {
			padding: 0 20px;
		}
	}

	@media(min-width: $md-breakpoint) {
		.header {
			.title-wrapper {
				position: initial;
			}
		}
	}

	@media(min-width: $lg-breakpoint) {
		.header {
			.title-wrapper {
				width: 470px;
			}
		}
		
	}
}