@import '../../styles/variables.scss';

.message-panel {
	position: fixed;
	bottom: 5px;
	width: 80vw;
	left: calc(50% - 40vw);
	z-index: 16;
	text-align: center;
	pointer-events: none;

	@media(min-width: $xs-breakpoint) {
		width: 400px;
		left: 20px;
		bottom: 10px;
	}

	@media(min-width: $md-breakpoint) {
	}

	.message {
		position: relative;
		top: 0;
		$alpha: .95;
		margin: 10px 0;
		background: $color-bg-medium-2;
		border-radius: .25em;
		color: $color-font-light;
		font-size: 1.15em;
		opacity: 1;
		pointer-events: none;

		&.success {
			background: rgba(76, 178, 60, $alpha);
		}

		&.info {
			background: rgba(131, 181, 209, $alpha);
		}

		&.error {
			background: rgba(226, 81, 81, $alpha);
		}

		&.fading {
			opacity: 0;
		}
	}
}