@import '../../../styles/variables.scss';

.blog-admin-page {
	.add-button {
		position: fixed;
		bottom: 10px;
		right: 10px;
	
		i {
			font-size: 1.2em;
			top: 12px;
			left: 13px;
		}
	
		@media(min-width: $sm-breakpoint) {
			width: 60px;
			height: 60px;
			bottom: 20px;
			right: 20px;
	
			i {
				font-size: 1.5em;
				top: 19px;
				left: 21px;
			}
		}
	}
}