@import '../../styles/variables';
@import '../../styles/mixins';

.nav-bar-wrapper {
	height: 100%;
}

.nav-bar {
	display:flex;
	flex-direction: row;
	height: 100%;
	font-size: 1.6em;
	
	.nav-bar-entry {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 110px;
    text-align: center;
		font-size: .65em;
		
		&:after {
			display: none;
		}
	}

	a {
		color: $color-secondary;
		@include defaultHover();
	}

	@media(min-width: $md-breakpoint) {
		.nav-bar-entry {
			&:after {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 110px;
				height: 60px;
				content: "";
				background: $color-bg-light;
				opacity: 0;
				transition: transform .3s ease, opacity .3s ease-in-out;
				@include transform(scaleX(0));
			}

			&.active {
				a {
					font-weight: bold;
				}
	
				&:after {
					@include transform(scaleX(1));
					opacity: .22;
				}
			}
		}
	}
	@media(min-width: $lg-breakpoint) { 
		.nav-bar-entry {
			width: 140px;
			&:after {
				width: 140px;
			}
		}
	}
}