@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.image-manager {
	position: fixed;
	z-index: 6;
	width: 100vw;
	left: 0;
	top: 12vh;
	padding: 10px;
	max-width: $xs-breakpoint;
	pointer-events: none;

	.image-manager-panel {
		@include boxShadow();
		@include transform(translateY(-150vmax));
		transition: 1s transform ease-in-out;
	}

	&.visible {
		pointer-events: all;
		.image-manager-panel {
			@include transform(none);
		}
	}

	.category {
		h4 {
			margin: 10px 0;
			padding: 0 10px;
		}
	}

	.image-slider, .image-list {
		height: 177px;
	}

	.image-slider {
		position: relative;
		border: 1px solid $color-primary;
		// margin-bottom: 10px;

		.round-button {
			&:hover {
				background: $color-secondary;
			}
		}
	}

	.selected-image {
		margin-top: 50px;
	}

	.large-preview {
		position: absolute;
    left: -465px;
    top: 0;
		width: 430px;
		@include boxShadow();
	}

	@media(min-width: $xs-breakpoint) {
		left: calc(50vw - 240px);
		.image-slider, .image-list {
			height: 230;
		}
	}

	@media(min-width: $sm-breakpoint) {
		padding: 0;
		.image-slider, .image-list {
			height: 177px;
		}

		.large-preview {
			height: 540px;
		}
	}

	@media(min-width: $md-breakpoint) {
		left: calc(100vw - 520px);
		top: 15vh;

		.image-slider, .image-list {
			height: calc(80vh - 280px);
		}

		.large-preview {
			// width: 640px;
			height: 80vh;
			// left: -670px;
		}
	}

	@media(min-width: $lg-breakpoint) {

	}
}
