@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.image-upload-overlay-wrapper {
	pointer-events: none;
	opacity: 0;
	transition: .75s opacity ease-in-out;

	.image-upload-overlay {
		position: fixed;
		left: calc(50vw - 150px);
		width: 300px;
		top: 20vh;
		margin: auto;
		max-width: 420px;
		z-index: 15;
	}

	.transparent-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, 0.46);
		z-index: 14;
		cursor: pointer;
	}

	.description {
		margin-bottom: 10px;
		border: 1px solid $color-primary;

		p {
			padding: 10px;
			@include gradientBgLight();
		}
	}

	.uploader {
		.file-list {
			max-height: 200px;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
		}
	}

	&.visible {
		opacity: 1;
		pointer-events: all;
		.image-upload-overlay, .transparent-overlay {
			
		}
	}

	@media(min-width: $xs-breakpoint) {
		.image-upload-overlay {
			width: 360px;
			left: calc(50vw - 190px);

			.label-wrapper, .submit {
				width: 160px;
			}
		}
	}
}