@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.image-details {
	height: 144px;
	padding: 10px;
	border: 1px solid $color-primary;
	
	.wrapper {
		height: 100%;
		border: 1px solid $color-secondary;
		@include gradientBgLight();
	}

	.preview {
		height: 100%;
		background: $color-font-dark;

		.image-preview-sm {
			height: 100%;
		}

		img {
			display: block;
			height: auto;
			max-height: 120px;
			margin: 0 auto;
		}
		&.none-selected {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 10px;
			font-size: 1.5em;
			
			.image-preview-sm {
				height: auto;
			}

			p {
				align-self: center;
				padding: 10px;
				margin: auto 0;
				border-radius: .25em;
				color: $color-font-light;
				text-align: center;
			}
		}

		.image-preview {
			height: 100%;
			.preview-wrapper {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				img {
					float: none;
				}
			}
		}

		.description {
			height: 100%;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			padding: 10px;
		}
	}

	.controls {
		padding: 0;
		border-left: 1px solid $color-secondary;
		
		.add-wrapper, .remove-wrapper, .choose-wrapper {
			height: 33.33333%;

			i {
				font-size: 1.2em;
			}

			.round-button {
				width: 30px;
				height: 30px;
			}
		}

		.remove-wrapper, .add-wrapper {
			border-bottom: 1px solid $color-secondary;
		}

		.add-image, .remove-image, .choose-image {
			display: block;
			margin: 5px auto;
			i {
				top: 7px;
				left: 8px;
			}
		}

		.choose-wrapper {
			i {
				left: 7px;
			}
		}

		.add-image {
			i {
				font-size: 13px;
				left: 10px;
				top: 6px;
			}
		}

		.remove-image {
			i {
				top: 6px;
				left: 9px;
			}
		}

		&.none-selected {
			.remove-image, .choose-image {
				background: $color-primary-dark;
				i {
					color: $color-bg-dark;
				}
				@include buttonDisabled();
			}
		}
	}

	@media(min-width: $xs-breakpoint) {
		height: 170px;

		.preview {
			padding: 10px;

			img {
				float: left;
				border: 1px solid $color-secondary;
			}

			.description {
				color: $color-tertiary;

				span {
					padding: 0;
				}

				.file-name {
					display: block;
					@include textOverflowEllipsis();
				}

				.label {
					font-size: 1em;
					&:last-child {
						margin-top: 20px;
						border-bottom: 1px dashed $color-bg-medium-2;
					}
				}

				.url {
					max-height: 45px;
					padding: 5px;
					margin-top: 10px;
					@include gradientPrimary();
					color: $color-font-light;
					border-radius: .25em;
					font-size: .75em;
					@include defaultHover();
					overflow: hidden;
					// white-space: nowrap;
					text-overflow: ellipsis;
					word-wrap: break-word;
				}

				ul {
					display: block;
					list-style: none;
					font-size: .8em;
				}
			}
		}

		.controls {
			height: 142px;
			.add-image {
				margin: 10px auto;
			}

			.choose-image, .remove-image {
				margin: 8px auto;
			}
		}
	}
}

.image-preview-lg {
	height: 100%;
	padding: 10px;
	background: $color-bg-medium-1;
	border: 1px solid $color-primary;
	opacity: .95;
	.image-wrapper {
		display: flex;
		height: 100%;
		justify-content: center;
		padding: 0 10px;
		background: $color-bg-dark;
	}

	img {
		max-width: 100%;
		max-height: 100%;
		margin: auto 0;
		border: 1px solid $color-secondary;
	}

	@media(min-width: $lg-breakpoint) {
		.image-wrapper {
			padding: 20px;
		}
		img {
			max-height: 100%;
		}
	}
}