@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.image-list {
	@include listBorder();
	border: 1px solid $color-secondary;
	background: $color-bg-medium-2;
	list-style: none;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	.image-xs {
		img {
			position: relative;
			left: calc(50% - 23px);
			border-radius: 5em;
			border: 2px solid $color-primary;
		}
	}

	.name {
		padding: 7px 5px;
		text-align: center;
		font-size: .9em;

		section {
			margin: 0 auto;
			padding: 5px 10px;
			background: $color-bg-medium-2;
			border: 1px solid $color-primary;
			border-radius: .25em;
			@include textOverflowEllipsis();
			@include secondaryHover();
		}
	}

	.image {
		padding: 5px;
		margin: 0;
		cursor: pointer;
		@include gradientBgLight();
		
		&:last-child {
			margin-bottom: 10px;
		}
		&.active {
			@include gradientSecondary();
			.name {
				section {
					background: $color-primary-light;
				}
			}
		}
	}

	.no-images-available {
		display: flex;
		height: 100%;
		justify-content: center;
		align-items: center;

		p {
			font-size: 1.3em;
			align-self: center;
		}
	}
}