@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.image-uploader {
	background: none;
	z-index: 5;

	.list-wrapper {
		padding: 10px;
		margin-top: 10px;
		border: 1px solid $color-secondary;
	}

	h4 {
		margin-left: 10px;
	}

	.img-input {
		display: none;
	}

	.label-wrapper {
		height: 30px;
		@include buttonMedium();
		float: left;
		padding: 5px;
		background: $color-primary-dark;
		color: $color-font-light;
		border: 1px solid $color-bg-medium-1;
		border-radius: .25em;
		text-align: center;
		
		&:hover {
			background: $color-primary;
		}
	}

	label {
		font-size: .8em;
		@include defaultHover();
	}

	.submit {
		height: 30px;
		@include buttonMedium();
		font-size: .9em;
		margin: 0 0 0 18px;

		&:focus {
			box-shadow: none;
		}
	}
}

.file-list {
	font-size: .9em;

	@include listBorder();

	li {
		padding: 5px 10px;
		list-style: none;
		background: $color-tertiary;
		@include textOverflowEllipsis();

		&:nth-child(odd) {
			background: $color-primary-light;
		}
	}
}