@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.news-page {
	min-height: 400px;

	.button-container {
		width: 160px;
		margin: 0 auto;
	}

	.post-test {
		margin: 10px 0;
		border-bottom: 1px solid $color-secondary;

		h4 {
			margin: 0;
			text-align: center;
		}
	}
}