@import 'variables.scss';
@import 'mixins.scss';

.editor-content {
	.editor-label {
		font-size: 1em;
	}
	
	.editor-input {
		text-align: right;
		align-items: flex-end;
	}
	
	.editor-input, .editor-label {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 10px 0;
		min-height: 50px;
	}
	
	.editor-row {
		@include paddingVerticalResponsive();
		border-bottom: 1px solid $color-bg-medium-1;
		&:last-child {
			border: none;
			padding-bottom: 0;
		}
	}
	
	.paragraph-list {
		.icon-button {
			width: auto;
		}
	}
	
	input {
		margin: 0;
	}
	
	input, select {
		width: 140px;
		@include inputResponsive();
	}
	
	@media(min-width: $xs-breakpoint) {
		label {
			font-size: 1.2em;
		}
	}
	
	@media(min-width: $sm-breakpoint) {
		button, .labeled-button {
			width: 100%;
		}
	
		.editor-input {
			&:nth-child(2) {
				align-items: initial;
			}
		}
	
		.controls-wrapper {
			margin-top: 20px;
		}
	
		input {
			width: 100%;
		}
	}
	
	@media(min-width: $md-breakpoint) {
		button, .labeled-button {
			width: 200px;
		}
	
		.controls-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			height: 182px;
			margin: 0;
		}
	
		.editor-label {
			&:nth-child(3) {
				padding-left: 40px;
			}
		}
	
		.editor-input {
			&:nth-child(6) {
				align-items: flex-start;
			}
		}
	
		label {
			font-size: 1.1em;
		}
	}
	
	@media(min-width: $lg-breakpoint) {
		button, .labeled-button {
			width: 220px;
		}
	}
}