@import 'variables.scss';

@mixin transform($transformation) {
	-webkit-transform: $transformation;
	-ms-transform: $transformation;
	transform: $transformation;
}

@mixin filter($filter-param) {
	-webkit-filter: $filter-param;
	filter: $filter-param;
}

@mixin textOverflowEllipsis() {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

@mixin defaultHover() {
	&:hover {
		cursor: pointer;
		color: $color-primary-light;
	}
}

@mixin secondaryHover() {
	&:hover {
		cursor: pointer;
		color: $color-secondary;
	}
}

@mixin scaleOnHover() {
	transition: transform .25s ease;
	&:hover {
		@include transform(scale(1.1));
	}
}

@mixin buttonDisabled() {
	&:hover {
		@include transform(none);
	}
}

@mixin buttonMedium() {
	width: 130px;
	font-size: .9em;
}

@mixin paddingResponsive() {
	padding: 10px;
	@media(min-width: $sm-breakpoint) {
		padding: 20px;
	}
	@media(min-width: $md-breakpoint) {
		padding: 40px;
	}
	@media(min-width: $lg-breakpoint) {
		padding: 60px;
	}
}

@mixin paddingResponsiveSm() {
	padding: 5px;
	@media(min-width: $sm-breakpoint) {
		padding: 10px;
	}
	@media(min-width: $md-breakpoint) {
		padding: 20px;
	}
	@media(min-width: $md-breakpoint) {
		padding: 30px;
	}
}

@mixin paddingVerticalResponsive() {
	padding: 10px 0;
	@media(min-width: $sm-breakpoint) {
		padding: 15px 0;
	}
	@media(min-width: $md-breakpoint) {
		padding: 20px 0;
	}
}

@mixin inputResponsive() {
	width: 140px;

	@media(min-width: $sm-breakpoint) {
		width: 180px;
	}
	@media(min-width: $md-breakpoint) {
		width: 200px;
	}
	@media(min-width: $lg-breakpoint) {
		width: 220px;
	}
}

@mixin inputResponsiveSm() {
	width: 70px;

	@media(min-width: $sm-breakpoint) {
		width: 90px;
	}
	@media(min-width: $md-breakpoint) {
		width: 100px;
	}
	@media(min-width: $lg-breakpoint) {
		width: 110px;
	}
}

@mixin highlightPrimary() {
	box-shadow: 0px 0px 10px 3px rgba(235, 94, 0, 0.66);
}

@mixin boxShadow() {
	box-shadow: 1px 1px 1px 1px rgba(92, 92, 92, 0.45);
}

@mixin boxShadowSecondary() {
	box-shadow: 1px 1px 1px 2px rgba(92, 92, 92, 0.31);
}

@mixin boxShadowLg() {
	box-shadow: 5px 5px 10px 5px rgba(92, 92, 92, 0.25);
}

@mixin listBorder() {
	@include list();
	border: 1px solid $color-primary;
	li {
		border-bottom: 1px solid $color-primary;

		&:last-child {
			border-bottom: none;
		}
	}
}

@mixin listShadow() {
	@include list();

	li {
		@include boxShadow();
	}
}

@mixin list() {
	width: 100%;

	li {
		padding: 5px 10px;

		&:first-child {
			margin-top: 0;
		} 

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@mixin centeredBlock() {
	display: block;
	
	@media(min-width: $md-breakpoint) {
		width: $md-blockwidth;
		margin: 0 auto;
	}

	@media(min-width: $lg-breakpoint) {
		width: $lg-blockwidth;
	}
}

@mixin bgThemeAlpha($alpha) {
	background: rgba(128, 128, 128, $alpha);
}

@mixin bgPrimaryAlpha($alpha) {
	background: rgba(235, 94, 0, $alpha);
}

@mixin bgSecondaryAlpha($alpha) {
	background: rgba(242, 156, 0, $alpha);
}

@mixin bgMedium1Alpha($alpha) {
	background: rgba(223, 218, 206, $alpha);
}

@mixin bgMedium2Alpha($alpha) {
	background: rgba(231, 230, 230, $alpha);
}

@mixin bgDarkAlpha($alpha) {
	background: rgba(64, 61, 57, $alpha);
}

@mixin borderThemeAlpha($alpha) {
	border-color: rgba(128, 128, 128, $alpha);
}

@mixin borderPrimaryAlpha($alpha) {
	border-color: rgba(235, 94, 0, $alpha);
}

@mixin borderSecondaryAlpha($alpha) {
	border-color: rgba(242, 156, 0, $alpha);
}

@mixin borderMedium1Alpha($alpha) {
	border-color: rgba(223, 218, 206, $alpha);
}

@mixin borderMedium2Alpha($alpha) {
	border-color: rgba(231, 230, 230, $alpha);
}

@mixin borderDarkAlpha($alpha) {
	border-color: rgba(64, 61, 57, $alpha);
}

@mixin gradientMainTheme {
	background: rgba(128,128,128,1);
	background: -moz-linear-gradient(left, rgba(128,128,128,1) 0%, rgba(163,163,163,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(128,128,128,1)), color-stop(100%, rgba(163,163,163,1)));
	background: -webkit-linear-gradient(left, rgba(128,128,128,1) 0%, rgba(163,163,163,1) 100%);
	background: -o-linear-gradient(left, rgba(128,128,128,1) 0%, rgba(163,163,163,1) 100%);
	background: -ms-linear-gradient(left, rgba(128,128,128,1) 0%, rgba(163,163,163,1) 100%);
	background: linear-gradient(to right, rgba(128,128,128,1) 0%, rgba(163,163,163,1) 100%);
}

@mixin gradientPrimary {
	background: rgba(235,94,0,1);
	background: -moz-linear-gradient(-45deg, rgba(235,94,0,1) 0%, rgba(242,156,0,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(235,94,0,1)), color-stop(100%, rgba(242,156,0,1)));
	background: -webkit-linear-gradient(-45deg, rgba(235,94,0,1) 0%, rgba(242,156,0,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(235,94,0,1) 0%, rgba(242,156,0,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(235,94,0,1) 0%, rgba(242,156,0,1) 100%);
	background: linear-gradient(135deg, rgba(235,94,0,1) 0%, rgba(242,156,0,1) 100%);
}

@mixin gradientPrimaryLight {
	background: rgba(255,210,99,1);
	background: -moz-linear-gradient(left, rgba(255,210,99,1) 0%, rgba(255,242,170,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,210,99,1)), color-stop(100%, rgba(255,242,170,1)));
	background: -webkit-linear-gradient(left, rgba(255,210,99,1) 0%, rgba(255,242,170,1) 100%);
	background: -o-linear-gradient(left, rgba(255,210,99,1) 0%, rgba(255,242,170,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,210,99,1) 0%, rgba(255,242,170,1) 100%);
	background: linear-gradient(to right, rgba(255,210,99,1) 0%, rgba(255,242,170,1) 100%);
}

@mixin gradientSecondary {
		background: rgba(255,210,99,1);
	background: -moz-linear-gradient(left, rgba(255,210,99,1) 0%, rgba(242,156,0,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,210,99,1)), color-stop(100%, rgba(242,156,0,1)));
	background: -webkit-linear-gradient(left, rgba(255,210,99,1) 0%, rgba(242,156,0,1) 100%);
	background: -o-linear-gradient(left, rgba(255,210,99,1) 0%, rgba(242,156,0,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,210,99,1) 0%, rgba(242,156,0,1) 100%);
	background: linear-gradient(to right, rgba(255,210,99,1) 0%, rgba(242,156,0,1) 100%);
}

@mixin gradientBgLight {
	background: rgba(231,230,230,1);
	background: -moz-linear-gradient(-45deg, rgba(231,230,230,1) 0%, rgba(255,252,242,1) 52%, rgba(231,230,230,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(231,230,230,1)), color-stop(52%, rgba(255,252,242,1)), color-stop(100%, rgba(231,230,230,1)));
	background: -webkit-linear-gradient(-45deg, rgba(231,230,230,1) 0%, rgba(255,252,242,1) 52%, rgba(231,230,230,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(231,230,230,1) 0%, rgba(255,252,242,1) 52%, rgba(231,230,230,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(231,230,230,1) 0%, rgba(255,252,242,1) 52%, rgba(231,230,230,1) 100%);
	background: linear-gradient(135deg, rgba(231,230,230,1) 0%, rgba(255,252,242,1) 52%, rgba(231,230,230,1) 100%);
}

@mixin gradientBgMedium {
	background: rgba(223,218,206,1);
	background: -moz-linear-gradient(-45deg, rgba(223,218,206,1) 0%, rgba(231,230,230,1) 52%, rgba(223,218,206,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(223,218,206,1)), color-stop(52%, rgba(231,230,230,1)), color-stop(100%, rgba(223,218,206,1)));
	background: -webkit-linear-gradient(-45deg, rgba(223,218,206,1) 0%, rgba(231,230,230,1) 52%, rgba(223,218,206,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(223,218,206,1) 0%, rgba(231,230,230,1) 52%, rgba(223,218,206,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(223,218,206,1) 0%, rgba(231,230,230,1) 52%, rgba(223,218,206,1) 100%);
	background: linear-gradient(135deg, rgba(223,218,206,1) 0%, rgba(231,230,230,1) 52%, rgba(223,218,206,1) 100%);
}

@mixin gradientBackground {
	background: rgba(245,245,245,1);
	background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(254,251,242,1) 63%, rgba(255,252,242,1) 72%, rgba(255,252,242,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,245,245,1)), color-stop(63%, rgba(254,251,242,1)), color-stop(72%, rgba(255,252,242,1)), color-stop(100%, rgba(255,252,242,1)));
	background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(254,251,242,1) 63%, rgba(255,252,242,1) 72%, rgba(255,252,242,1) 100%);
	background: -o-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(254,251,242,1) 63%, rgba(255,252,242,1) 72%, rgba(255,252,242,1) 100%);
	background: -ms-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(254,251,242,1) 63%, rgba(255,252,242,1) 72%, rgba(255,252,242,1) 100%);
	background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(254,251,242,1) 63%, rgba(255,252,242,1) 72%, rgba(255,252,242,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#fffcf2', GradientType=0 );
}

@mixin gradientPageTitle {
	background: rgba(242,156,0,0);
	background: -moz-linear-gradient(left, rgba(242,156,0,0) 0%, rgba(242,156,0,1) 40%, rgba(242,156,0,1) 62%, rgba(242,156,0,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,156,0,0)), color-stop(40%, rgba(242,156,0,1)), color-stop(62%, rgba(242,156,0,1)), color-stop(100%, rgba(242,156,0,0)));
	background: -webkit-linear-gradient(left, rgba(242,156,0,0) 0%, rgba(242,156,0,1) 40%, rgba(242,156,0,1) 62%, rgba(242,156,0,0) 100%);
	background: -o-linear-gradient(left, rgba(242,156,0,0) 0%, rgba(242,156,0,1) 40%, rgba(242,156,0,1) 62%, rgba(242,156,0,0) 100%);
	background: -ms-linear-gradient(left, rgba(242,156,0,0) 0%, rgba(242,156,0,1) 40%, rgba(242,156,0,1) 62%, rgba(242,156,0,0) 100%);
	background: linear-gradient(to right, rgba(242,156,0,0) 0%, rgba(242,156,0,1) 40%, rgba(242,156,0,1) 62%, rgba(242,156,0,0) 100%);
}

@mixin gradientPageTitleXs {
	background: rgba(242,156,0,0);
	background: -moz-linear-gradient(left, rgba(242,156,0,0) 0%, rgba(242,156,0,1) 26%, rgba(242,156,0,1) 73%, rgba(242,156,0,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,156,0,0)), color-stop(26%, rgba(242,156,0,1)), color-stop(73%, rgba(242,156,0,1)), color-stop(100%, rgba(242,156,0,0)));
	background: -webkit-linear-gradient(left, rgba(242,156,0,0) 0%, rgba(242,156,0,1) 26%, rgba(242,156,0,1) 73%, rgba(242,156,0,0) 100%);
	background: -o-linear-gradient(left, rgba(242,156,0,0) 0%, rgba(242,156,0,1) 26%, rgba(242,156,0,1) 73%, rgba(242,156,0,0) 100%);
	background: -ms-linear-gradient(left, rgba(242,156,0,0) 0%, rgba(242,156,0,1) 26%, rgba(242,156,0,1) 73%, rgba(242,156,0,0) 100%);
	background: linear-gradient(to right, rgba(242,156,0,0) 0%, rgba(242,156,0,1) 26%, rgba(242,156,0,1) 73%, rgba(242,156,0,0) 100%);
}

@mixin labelSecondary() {
	&:after, &:before {
		display: block;
		position: relative;
		height: 3px;
		content: "";
		@include gradientPageTitle();
	}
}