$color-main-theme: #808080;
$color-primary: #EB5E00;
$color-primary-light: #FFF2AA;
$color-primary-dark: #D35400;
$color-secondary: #F29C00;
$color-secondary-light: #D2F2E4;
$color-tertiary: #FFD263;
$color-bg-primary: rgba(255, 255, 255, 0.2);
$color-bg-light: #FFFCF2;
$color-bg-medium-1: #dfdace;
$color-bg-medium-1-trans: rgba(223, 218, 206, .85);
$color-bg-medium-2: #e7e6e6;
$color-bg-medium-2-trans: rgba(231, 230, 230, .85);
$color-bg-dark: #403D39;
$color-bg-dark-trans: rgba(64, 61, 57, .85);
$color-ui-dark-alpha: rgba(64, 61, 57, 0.69);
$color-ui-danger: #E25151;
$color-ui-danger-hover: #F29595;
$color-ui-bg-1: #C1BDB2;
$color-ui-disabled: #9B988F;

$color-font-light: #FFF;
$color-font-theme: #424242;
$color-font-dark: #41342c;

$xs-breakpoint:480px;
$sm-breakpoint:768px;
$md-breakpoint:992px;
$lg-breakpoint:1200px;

$md-blockwidth:640px;
$lg-blockwidth:780px;

$font-default: 'Arial', Arial, sans-serif;
$font-primary: 'Poppins', sans-serif;