@import 'variables.scss';
@import 'mixins.scss';

html, body {
	height: 100vh;
	padding: 0;
	margin: 0;

	background: $color-bg-light;

	font-family: $font-default;
	font-family: $font-primary;
}

body {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	will-change: background;
}

p, h1, h2, h3, h4 ,h5, h6, section {
	color: $color-font-dark;
}

h1, h2 {
	padding: 20px 0;
	margin: 5px 0;

	@media(min-width: $sm-breakpoint) {
		margin: 10px 0;
	}
}

h3, h4, h5, h6 {
	padding: 10px 0;
	margin: 5px 0;

	@media(min-width: $sm-breakpoint) {
		padding: 15px 0;
		margin: 10px 0;
	}
}

ul, ol {
	margin: 0;
	padding: 0;
}

.fa-3x {
	font-size: 2.8em;
}


a {
	&:hover {
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
	}
}

p {
	margin: 0;
	font-size: .9em;
	text-align: justify;

	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

button {
	border: none;
	border-radius: .25em;
	color: $color-font-light;
}

.button-primary {
	width: 200px;
	padding: 4px;
	border-radius: .25em;
	border: 1px solid $color-bg-medium-1;
	@include gradientPrimary();
	color: $color-font-light;
	font-size: 1.1em;

	transition: transform .15s ease-in;

	&:hover {
		background: $color-secondary;
		@include transform(scale(1.02));
	}
}

label {
	font-weight: 500;
	margin: 0;
}

input {
	margin-top: -1px;
	padding: 0 5px;
	transition: box-shadow .25s ease-out;
	&:focus {
		background: $color-primary-light;
		box-shadow: 0px 0px 4px 3px $color-secondary;
	}
	
	-webkit-appearance: none;
	-moz-appearance: none;

	&:-webkit-autofill { 
		box-shadow: 0 0 0 500px white inset;
	}
}

input, select {
	width: 140px;
	height: 26px;
	text-align: center;
	background: $color-bg-light;
	border: 1px solid $color-secondary;
	border-radius: .25em;
}

select {
	font-size: .8em;

	&.disabled {
		background: $color-bg-medium-1;
	}
}

textarea, input, *:focus {
	outline: none !important;
}

section {
	padding: 0;
}

.row {
	margin: 0;
}

.container-fluid {
	padding: 0;
	margin: 0;
}

.thumbnail {
	margin: 0;
}

.box-sm {
	padding: 5px;
}

.box-md {
	padding: 10px;
}

.no-pad {
	padding: 0;
}

.content-container {
	padding: 10px;

	@media(min-width: $sm-breakpoint) {
		padding: 15px;
	}

	@media(min-width: $md-breakpoint) {
		padding: 20px;
	}
}

.block-container {
	padding: 0;
	border: 1px solid $color-secondary;
	border-left: none;
	border-right: none;

	&:nth-child(even) {
		border: none;
	}

	&:first-child {
		border-top: none;
	}

	&:last-child {
		border-bottom: none;
	}

	.block-title {
		margin: 10px 0;
		padding: 15px 10px;
		color: $color-primary;
	}

	@media(min-width: $sm-breakpoint) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 220px;
		border: none;
		border-bottom: 1px solid $color-secondary;

		&:nth-child(even) {
			border: none;
			border-bottom: 1px solid $color-secondary;
		}

		&:nth-child(odd) {
			border-right: 1px solid $color-secondary;
		}

		&:last-child {
			border-bottom: none;
		}
	}

	@media(min-width: $md-breakpoint) {
		height: 220px;
		justify-content: flex-start;

		&:nth-child(even), &:nth-child(odd) {
			border: none;
			border-bottom: 1px solid $color-secondary;
			border-right: 1px solid $color-secondary;
		}

		&:nth-child(3n) {
			border-right: none;
		}

		&:last-child {
			border-bottom: none;
		}
	}
}

.info-container {
	width: 100%;
	height: 100%;
	margin: 0 auto;

	@media(min-width: $sm-breakpoint) {
		width: 100%;
		height: auto;
		padding: 10px;
	}
}

.page-title {
	margin: 10px 0;

	h2 {
		margin: 0 auto;
		padding: 15px 0;
		text-align: center;
		font-weight: bold;
		border-left: none;
		border-right: none;
		color: $color-secondary;
		font-size: 1.8em;
	}
	
	@include labelSecondary();
}

.static-markup {
	img {
		max-width: 100%;
	}

	h1, h2, h3, h4, h5, h6 {
		&:first-child {
			margin-top: 0;
		}
	}

	h1, h2 {
		padding: 20px;
	}
	
	h3, h4, h5, h6 {
		padding: 10px;
	
		@media(min-width: $sm-breakpoint) {
			padding: 15px;
			margin: 10px 0;
		}
	}

	p {
		padding: 0 10px;
	}
	
	ul, ol {
		margin: 0;
		margin-left: 30px;
		padding: 0;
	
		ul, ol {
			margin-left: 35px;
	
			ul, ol {
				margin-left: 40px;
				
				ul, ol {
					margin-left: 45px;
				}
			}
		}
	}
}

.article-quote {
	position: relative;
	margin: 0;
	font-style: italic;
	border-left: none;

	&:before {
		display: block;
		position: absolute;
		left: 0;
		top: 5px;
		width: 30px;
		height: 30px;
		content: ">";
		color: $color-primary;
		font-size: 1.5em;
		font-weight: bold;
		font-style: initial;
	}
}