@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.number-input {
	input {
		display: flex;
    flex-direction: column;
    justify-content: center;
		height: 26px;
		@include inputResponsiveSm();

		&:focus {
			box-shadow: none;
			background: $color-bg-light;
		}
	}
}